<div class="container">
    <div class="d-flex justify-content-between mb-5">
        <h2>List Customer</h2>
        <a routerLink="/form"><button class="btn btn-primary">Add Customer</button></a>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col-1">Full Name</th>
            <th scope="col-1">Job</th>
            <th scope="col-1">DoB</th>
            <th scope="col-1">Gender</th>
            <th scope="col-1">Salary</th>
            <th scope="col-3">Address</th>
            <th scope="col-1">isMarried</th>
            <th scope="col-1">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customerList">
            <td>{{ customer.firstName }}</td>
            <td>{{ customer.jobTitle }}</td>
            <td>{{ customer.dob }}</td>
            <td>{{ customer.gender }}</td>
            <td>{{ customer.salary }}</td>
            <td>{{ customer.address }}</td>
            <td [ngClass]="{'text-danger': customer.isMarried === false, 'text-success': customer.isMarried === true}">{{ customer.isMarried }}</td>
            <td>
                <div>
                    <button (click)="editData(customer.id)" class="btn btn-primary mx-2">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </div>
            </td>
          </tr>
        </tbody>
    </table>
</div>